<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
    <%  }) %>
        </ul>
    <% } %>

<ul>
    <li>
        <a href="/inv/addNewClassification">Add New Classification</a>
    </li>
    
    <li>
        <a href="/inv/addNewInventory">Add New Inventory</a>
    </li>
</ul>